@media print {
    .no-print {
        visibility: hidden;
    }
}

:root {

}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
}

.resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.resume-header h1 {
    margin: 15px;
}

.resume-header-form {
    width: 800px;
    margin: 15px auto;
}

.resume-header-form label {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.resume-header-form input {
    width: 70%;
}

.resume-header-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}

.resume-header-form button {
    padding: 4px 60px;
}
