@media print {
    .no-print {
        visibility: hidden;
    }
}

:root {
    --gray: #f0f0f0;

}

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    min-width: 800px;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
}

.resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: var(--gray);
}

    .resume-header h1 {
        margin: 15px;
    }


.resume-header-form,
.experience {
    padding: 1.5rem;
}

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        border: 1px solid;
        border-radius: 5px;
        padding: 15px;
    }

    label {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    input {
        width: 70%;
    }

    button {
        padding: 4px 60px;
    }

.experience {
    /*  */
}
    .experience h2 {
        width: 100%;
        border-bottom: 1px solid;
        margin-bottom: 10px;
    }

    .experience p {
        padding: 0 15px;
        display: grid;
        place-self: center;
    }
    

    input[type='date'] {
        width: 30%;
    }

    textarea {
        min-height: 50px;
        max-height: 150px;
        min-width: 60%;
        max-width: 60%;
    }
